@model IEnumerable<WebApplication1.Models.PersonalInformations>

@{
    ViewData["Title"] = "TableOfInformations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TableOfInformations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Home" asp-action="TableOfInformations" method="get">
    <p>Search by First Name: 
        <input type="text" name="searched" /> 
        <input type="submit" value="Filter!!!"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfBirth)
            </td>
            <td>
                <a asp-action="EditPersonalInformatios" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsOfPerseon" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeletePerson" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
